body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(wp.jpg);
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.button-container {
    text-align: center;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    font-size: 24px;
    background-color: #000;
    color: #ffffff;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.button:hover {
    background-color: #2980b9;
}

.list-button {
    display: block;
    width: 200px; /* Adjust width as needed */
    text-align: left;
    background-color: #ffffff;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto; /* Center horizontally */
}