body{
    background-image:url(Img.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: bold;
    
}
table, th, td {
    border:5px solid black;
    font-size: 20pt;
    font-weight: bold;
   
   
  }
